.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

span {
    font-weight: var(--font-text);
}

.prev, .next{
    font-weight: var(--font-semibold);
    padding: .5rem 1rem;
    border-radius: .5rem;
}