.container {
    margin-top: 2rem;
    font-weight: var(--font-text);
}


.titleSection {
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.section {
    margin-bottom: 2rem;
}

.imagePreviewList {
    width: 2rem;
    height: 2rem;
}

.listItems {
    margin: .5rem 0 1rem 1rem;
}

.listItems li{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.imgList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.img {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
}
.dateTable {
    width: 50%;
}

.dateTable td {
    text-align: center;
}


.tableContainer {
    overflow-x: auto;
    margin: 2rem;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: none;
    padding: 0.5rem 2rem;
    margin: 0;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
  }
  .table td {
      border-bottom: 1px solid var(--color-border);
  }
  
  .table thead {
    background: none;
  }
  
  .table tbody tr {
    background: none;
  }
  
  .dayTable {
      width: 30%;
  }
  .hourTable {
      width: 20%;
  }
  .descriptionTable {
      width: 40%;
  }