.button {
  padding: 0.5rem 5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  z-index: 10;
}

.title {
  font-size: 3rem;
}

.errorMessage {
  color: rgb(201, 0, 0);
  font-weight: var(--semi-bold);
}

.textAlreadyAcoount {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  
  .formContainer {
    height: 60rem;
  }
  .textAlreadyAcoount {
    font-size: 1.3rem;
    text-align: center;
  }
  .textAlreadyAcoount strong{
    white-space: nowrap;
  }
}
