.table {
  width: 100%;
  border-collapse: collapse;
  
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: left;
}

.table th {
  text-align: center;
}

.table td {
  padding-left: 2rem;
}

.table tr:nth-child(even) {
  background-color: var(--color-tertiary);
}

.icons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  margin-right: 3rem;
}
