.container {
  max-width: 150rem;
  margin: 0 auto;
}

.searchCreateContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.searchbar {
  margin-top: 1rem;
}

.btnCreate {
  background-color: var(--color-primary);
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.titleList {
  margin: 3rem 0 2rem 0;
}

.tableList {
  margin: 1rem auto;
}
