.hero {
  position: relative;
  background: url("/src/assets/hero.webp");
  width: 100%;
  min-height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-top: 12rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-overlay);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.form {
  margin: 0 auto;
  width: 120rem;
}

.searchForm {
  width: 100%;
}

.titleHero {
  color: var(--color-secondary);
  text-transform: uppercase;
  text-align: left;
  font-weight: var(--font-bold);
}

.mainHome {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.categoriesContainer {
  margin: 0 auto;
}

.categories {
  width: 130rem;
  gap: 1rem;
  margin-top: 2rem;
}

.categoriesTitle {
  text-transform: uppercase;
  font-weight: var(--font-title-exb);
  text-align: center;
  margin-top: 2rem;
}

.swipperSlide {
  display: flex;
  justify-content: center;
}

.viewMoreContainer {
  max-width: 1200px;
  margin: 2rem auto;
  text-align: end;
}
.viewMore {
  font-weight: var(--font-bold);
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
}

.recommendations {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--color-tertiary);
}
.viewMoreContainerRec {
  display: block;
  margin: 3rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
}
.titleRecom {
  text-transform: uppercase;
  font-weight: var(--font-title-exb);
  font-size: 2.5rem;
  margin: 2rem 0 3rem 0;
  text-align: center;
}
.recCards {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1350px) {
  .titleHero {
    font-size: 2.8rem;
  }
  .form {
    width: 100rem;
  }
  .categories {
    width: 90%;
  }
  .categoriesContainer {
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .titleHero {
    font-size: 2.5rem;
  }
  .form {
    margin: 0 auto;
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    min-height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 40rem;
  }
  .form {
    height: 100%;
  }
  .titleHero {
    font-size: 2.8rem;
    text-wrap: balance;
    margin-bottom: 0.5rem;
  }
.swiper-slide > * {
  max-width: 90%; /* Evita que se desborde en pantallas pequeñas */
}
  .viewMoreContainerRec {
    font-size: 1.8rem;
  }
}

@media (max-width: 390px) {
  .titleHero {
    font-size: 2.5rem;
  }
  .categoriesTitle {
    font-size: 2rem;
  }
  .titleRecom {
    font-size: 1.8rem;
  }
  .viewMoreContainerRec {
    font-size: 1.7rem;
  }
}
