
.hero {
  position: relative;
  background: url("/src/assets/hero.webp");
  width: 100%;
  min-height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-top: 12rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-overlay);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.form {
  margin: 0 auto;
  width: 120rem;
}

.titleHero {
  color: var(--color-secondary);
  text-transform: uppercase;
}

.mainHome {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.categories {
  max-width: 1200px;
  gap: 1rem;
  margin-top: 2rem;
}

.categoriesTitle {
  text-transform: uppercase;
  font-weight: var(--font-title-exb);
  text-align: center;
  margin-top: 2rem;
}
.viewMoreContainer {
  max-width: 1200px;
  margin: 2rem auto;
  text-align: end;
}
.viewMore {
  font-weight: var(--font-bold);
  border-bottom: 2px solid var(--color-primary);
}

.recommendations {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--color-tertiary);
}
.titleRecom {
  text-transform: uppercase;
  font-weight: var(--font-title-exb);
  font-size: 2.5rem;
  margin: 2rem 0 3rem 0;
  text-align: center;

}
.recCards {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1350px) {
    .form {
      width: 100rem;
    }
}