.container {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-text);
}


.descContainer {
  margin-top: 2rem;
  border: 2px solid var(--color-border);
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.titleDesc {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.infoDesc {
  margin: 2rem 0;
}

.infoDesc span {
  font-weight: var(--font-bold);
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
  font-family: var(--font-family);
  font-size: 1.5rem;
  background-color: var(--color-light);
  color: var(--color-primary);
}

.requirement {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-border);
  border-radius: 0.8rem;
  box-shadow: 0 1px 3px rgba(37, 67, 44, 0.1);
}

.tableTitle {
  font-weight: var(--font-semibold);
  padding: 1rem 1.5rem;
  width: 30%;
  vertical-align: top;
  background-color: var(--color-secondary-transparent);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.tableDescription {
  padding: 1rem 1.5rem;
  background-color: white;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  color: var(--color-primary);
}


@media (max-width: 500px) {
  .descContainer {
    padding: 1rem;
  }
}