.searchForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  flex: 10;
}

.searchForm input,
.searchForm select {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--color-light);
  border-radius: 0.5rem;
  min-width: 20rem; /* ayuda a que se wrappee */
  flex: 1 1 20rem;
}

.btnSearch {
  padding: 1rem 3rem;
  border-radius: 1rem;
   flex: 1 1 10rem;
}

.location {
  padding: 1rem 1rem 1rem 3.5rem;
  background: url("/src/assets/location.png") no-repeat 10px center;
  background-size: 20px;
  flex: 5;
}

.category {
  padding: 1rem 1rem 1rem 3.5rem;
  background: url("/src/assets/advType.png") no-repeat 10px center;
  background-size: 20px;
}

.date {
  padding: 1rem 1rem 1rem 1rem;
  background-size: 20px;
}
