.searchForm {
  display: flex;
  gap: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex: 10;
}

.searchForm input,
.searchForm select {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--color-light);
  border-radius: 0.5rem;
  border: none; /* si quieres quitar bordes por defecto */
}

.btnSearch {
  padding: 1rem 3rem;
  flex: 1/2;
  border-radius: 1rem;
}

.location {
  padding: 1rem 1rem 1rem 3.5rem;
  background: url("/src/assets/location.png") no-repeat 10px center;
  background-size: 20px;
  flex: 5;
}

.category {
  padding: 1rem 1rem 1rem 3.5rem;
  background: url("/src/assets/advType.png") no-repeat 10px center;
  background-size: 20px;
  flex: 3;
}

.date {
  padding: 1rem 1rem 1rem 1rem;
  background-size: 20px;
  flex: 1;
}
