.container {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid var(--color-border);
    border-radius: 1rem;
}

.filterPer {
    margin-bottom: 1rem;
}

.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.checkInput {
    margin-right: 1rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btnFilter {
    padding: 1rem 3rem;
    border-radius: 1rem;
}

@media (max-width: 1024px) {
    .containerOpenFilter {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: var(--color-tertiary);
    }
    .containerOpenFilter button {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        font-size: 1.8rem;
        font-weight: var(--font-semibold);
        cursor: pointer;
    }
    
}

@media (max-width: 580px) {
    .containerOpenFilter button {
        font-size: 1.5rem;
        margin: 0 1rem;
    }
}