.container {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid var(--color-border);
    border-radius: 1rem;
}

.filterPer {
    margin-bottom: 1rem;
}

.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}



.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btnFilter {
    padding: 1rem 3rem;
    border-radius: 1rem;
}