.containerInputWithIcons {
  font-weight: var(--font-text);
}

.containerInputWithIcons input {
  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.labelTitle {
  font-weight: var(--font-semibold);
}

.form {
  display: flex;
  gap: 1rem;
}

.btnAddContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: .2rem;
}

.btnAdd {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}



.listItems {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.8rem;
}

.listItems li{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.noteHelp {
  font-style: italic;
  color: grey;
    font-size: 1.3rem;

}

.imagePreview {
  width: 2rem;
  height: 2rem;
}

.btnRemove {
  color: rgb(197, 2, 2);
  font-weight: var(--font-semibold);
}
