:root {
  /* 🎨 Colores principales */
  --color-light: #f7f7f5;
  --color-primary: #25432c;
  --color-secondary: #f5872e;
  --color-secondary-darken: #723401;
  --color-secondary-transparent: #f4a261;
  --color-tertiary: #faf3dc;
  --color-overlay: #25432c85;
  --color-border: #25432c49;

  /* 🖋️ Tipografía */
  --font-family: "Montserrat", sans-serif;
  --font-title-exb: 800;
  --font-bold: 700;
  --font-semibold: 600;
  --font-text: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--color-light);
  color: var(--color-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
input::placeholder {
  color: grey;
}
input[type="number"] {
  width: 40%;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
}

legend {
  padding: 0 1rem;
  font-weight: var(--font-semibold);
}

fieldset {
  border-radius: 0.5rem;
  padding: 1rem;
}
