:root {
  /* 🎨 Colores principales */
  --color-light: #F7F7F5;
  --color-primary: #25432C;
  --color-secondary: #F5872E;
  --color-tertiary: #FAF3DC;
  --color-overlay: #25432c85;

  /* 🖋️ Tipografía */
  --font-family: "Montserrat", sans-serif;
  --font-title-exb: 800;
  --font-bold: 700;
  --font-semibold: 600;
  --font-text: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--color-light);
  color: var(--color-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
  color: var(--color-primary);
}

input::placeholder {
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
